.cyan-stroke
{
	-webkit-text-stroke: 0.5px #40ddff;
}

.purple-stroke
{
	-webkit-text-stroke: 0.5px #f975ed;
}

.text
{
	font-weight: 300;
	font-family: 'Montserrat', sans-serif;

	color: #FFFFFF;
}

.medium
{
	font-family: 'Montserrat', sans-serif;
	font-style: normal;

	font-size: 24px;
	line-height: 39px;

	flex: none;
	order: 1;
	flex-grow: 0;
}

.big
{
	font-family: 'Montserrat', sans-serif;
	font-style: normal;

	font-size: 30px;
	line-height: 39px;

	flex: none;
	order: 1;
	flex-grow: 0;
}

.bold
{
	font-weight: bold;
}

.neonText {
	color: #fff;
	text-shadow:
	  /* White glow */
	  0 0 7px #fff,
	  0 0 10px #fff,
	  0 0 21px #fff,
	  /* cyan glow */
	  0 0 42px #40ddff,
	  0 0 82px #40ddff,
	  0 0 92px #40ddff,
	  0 0 102px #40ddff,
	  0 0 151px #40ddff;
  }