.center
{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 18px 110px;
	gap: 30px;

	position: absolute;
	width: 1181.01px;
	height: 461px;
	left: 44px;
	top: 241px;
}

.settings
{

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 5px;
	gap: 5px;

	width: 679px;
	height: 425px;

	min-width: 679px;
	min-height: 425px;

	background: rgba(0, 0, 0, 0.75);
	border-radius: 15px;

	flex: none;
	order: 0;
	flex-grow: 0;
}

.settings .header-bar
{
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 5px;
	width: 669px;
	height: 70px;
	border-bottom: 1px solid #FFFFFF;
}

.display-settings
{
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 5px;
	gap: 10px;

	width: 549px;
	height: 60px;
	flex-grow: 1;
}

.settings .header-bar .display-settings .symbol
{
	/* Auto layout */

	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	isolation: isolate;

	width: 50px;
	height: 50px;

	/* Inside auto layout */

	flex: none;
	order: 0;
	flex-grow: 0;
}

.settings .header-bar .display-settings .symbol .vector
{
	width: 50px;
	height: 50px;

	fill: #FFFFFF;
	filter: blur(3px);

	/* Inside auto layout */

	flex: none;
	order: 0;
	flex-grow: 0;
	margin: -10px 0px;
	z-index: 1;
}

.vector-neon
{
	width: 50px;
	height: 50px;
	
	filter: drop-shadow(0px 0px 8px #40ddff);

	flex: none;
	flex-grow: 0;
	z-index: 0;	
}

.vector-neon-return
{
	width: 125%;
	height: 125%;
	
	filter: drop-shadow(0px 0px 8px #40ddff);

	/* Inside auto layout */
	
	flex: none;
	order: 1;
	flex-grow: 0;
	z-index: 0;	
}

.btn
{
	box-sizing: border-box;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5px 40px;
	background-color: transparent;
	
	width: 105px;
	height: 60px;
	
	border: 0.5px solid #FFFFFF;
	border-radius: 5px;

	flex: none;
	align-self: stretch;
	flex-grow: 0;
}


/*------------------------------------------------------*/

.settings-container
{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	gap: 5px;
	
	width: 669px;
	height: 340px;
	
	/* Inside auto layout */
	
	flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 1;
}

.settings-container .display-settings
{
	box-sizing: border-box;

	/* Auto layout */
	
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 5px;
	gap: 10px;
	
	width: 237px;
	height: 340px;
	
	border-right: 1px solid #FFFFFF;
	border-radius: 15px;
	
	/* Inside auto layout */
	
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
}

.profile
{
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	gap: 5px;
	
	width: 175px;
	height: 180px;
	
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
}

.profile-header
{
	box-sizing: border-box;

	/* Auto layout */

	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 5px;
	gap: 5px;

	width: 175px;
	height: 39px;

	border-bottom: 1px solid #FFFFFF;

	/* Inside auto layout */

	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
}

.avatar
{
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 5px;
	gap: 10px;

	width: 175px;
	height: 42px;

	border-radius: 15px;

	/* Inside auto layout */

	flex: none;
	align-self: auto;
	flex-grow: 0;
}

.settings-container .select-settings
{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 5px;
	gap: 5px;
	
	width: 427px;
	height: 340px;
	
	border-radius: 15px;
	
	/* Inside auto layout */
	
	flex: none;
	order: 1;
	flex-grow: 0;
}