@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;800&display=swap");

.Popup {
    background-image: url("../../img/PopupBckg.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    
    width: 980px;
    height: 605px;
    top: 20%;
    left: 22%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    /* VIEW */
    /* border: 3px solid white;
    background-color: black; */   
}
